<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Gamuza Itau ShopLine - Itau ShopLine for Magento platform.
 * Copyright (C) 2013 Gamuza Technologies (http://www.gamuza.com.br/)
 * Author: Eneias Ramos de Melo <eneias@gamuza.com.br>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Library General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Library General Public License for more details.
 *
 * You should have received a copy of the GNU Library General Public
 * License along with this library; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin St, Fifth Floor,
 * Boston, MA  02110-1301, USA.
 */

/*
 * See the AUTHORS file for a list of people on the Gamuza Team.
 * See the ChangeLog files for a list of changes.
 * These files are distributed with Gamuza_Itaushopline at http://code.google.com/p/gamuzaopen/.
 */
-->

<config>
    <tabs>
        <gamuza translate="label" module="itaushopline">
		    <label>Gamuza</label>
		    <sort_order>0</sort_order>
		</gamuza>
	</tabs>
    <sections>
        <payment translate="label" module="itaushopline">
            <tab>gamuza</tab>
			<sort_order>2000</sort_order>
            <groups>
		        <itaushopline_standard translate="label" module="itaushopline">
		            <label>Itau ShopLine</label>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
				    <show_in_default>1</show_in_default>
			      	<show_in_website>1</show_in_website>
			      	<show_in_store>1</show_in_store>
				    <fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<order_status translate="label">
							<label>New Order Status</label>
							<frontend_type>select</frontend_type>
							<source_model>itaushopline/system_config_source_order_status</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</order_status>
                        <cctypes translate="label">
                            <label>Itau ShopLine Types</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>itaushopline/system_config_source_payment_types</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>0</can_be_empty>
                        </cctypes>
						<allowspecific translate="label">
							<label>Payment Applicable From</label>
							<frontend_type>select</frontend_type>
							<sort_order>4</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Countries Payment Applicable From</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>5</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><allowspecific>1</allowspecific></depends>
						</specificcountry>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sort_order>
					</fields>
		        </itaushopline_standard>
				<itaushopline_settings>
		            <label>Itau ShopLine - Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
				    <show_in_default>1</show_in_default>
			      	<show_in_website>1</show_in_website>
			      	<show_in_store>1</show_in_store>
				    <fields>
						<order_id_increment translate="label">
							<label>Order ID Increment</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</order_id_increment>
						<submit_url translate="label">
							<label>Submit URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</submit_url>
						<query_url translate="label">
							<label>Query URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</query_url>
						<return_url translate="label">
							<label>Return URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</return_url>
						<code translate="label">
							<label>Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</code>
						<key translate="label">
							<label>Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</key>
						<expiration translate="label">
							<label>Expiration (days)</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</expiration>
						<obs translate="label">
							<label>Observation</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</obs>
						<obsadd1 translate="label">
							<label>Additional Observation 1</label>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</obsadd1>
						<obsadd2 translate="label">
							<label>Additional Observation 2</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</obsadd2>
						<obsadd3 translate="label">
							<label>Additional Observation 3</label>
							<frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
				    	</obsadd3>						
					</fields>
				</itaushopline_settings>
            </groups>
        </payment>
    </sections>
</config>
